body {
  background-color: #00101a;
  font-family: Arial, sans-serif;
}

h1 {
  color: #ebf5ee;
}

h2 {
  color: #ebf5ee;
}

button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #22c0de;
  color: #ebf5ee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
